
.Home .Search {
    margin: 2rem 0;
}

.Home .Category {
}

.Home .Category button{
    background-color: transparent;
    color: #000;

    font-weight: 700;
    padding: 0.5rem;
    margin-right: 1rem;
}

.Home .Category button:hover {
    text-decoration: underline;
}

.Home main {
    margin: 4rem 0;
}

.Home main article hr{
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .Home .Category {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .Home .Category button {
        margin-bottom: 1rem;
    }
}
